language: node_js

build_image: shippable/minv2

node_js:
  - "0.10"
  - "0.11"
  - "0.8"

env:
 - Foo=bar
 - Bar=foo
 
matrix:
  allow_failures:
    - node_js: "0.11"
  exclude:
    - node_js: "0.8"
  include:
    - node_js: "0.10"
      env: test=aaa
      
script: "npm run-script test-travis"

after_script:
  - ./node_modules/.bin/istanbul cover ./node_modules/.bin/_mocha -- --ui=bdd --reporter=xunit-file
  - ./node_modules/.bin/istanbul report cobertura --dir shippable/codecoverage/
  - cp README.md ./shippable
  
notifications:
     email:
         recipients:
             - vidya@shippable.com
             - buildsampletest@gmail.com
             - vidyac.raghav@gmail.com
         on_success: always
         on_failure: always

archive: true

#cache: true


